.fourth-block {
    margin: 140px auto auto;

    &__title {
        font-family: $ff;
        font-size: 48px;
        line-height: 130%;
        text-align: center;
        letter-spacing: $lc;
        color: $rgba-c;
    }

    &__lines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px auto;
        width: 412px;

        &>hr:first-child {
            width: 100%;
            height: 0;
            border: 1px solid $main-color;
        }

        &>hr {
            margin-top: 10px;
            width: 220px;
            border: 1px solid $main-color;
        }
    }

    &__tabs {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1110px;

        &-items {
            display: flex;
            width: 100%;
            justify-content: space-between;

            &__item {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $ff;
                text-align: center;
                font-weight: 400;
                font-size: 24px;
                line-height: 130%;
                letter-spacing: $lc;
                color: rgba(0, 0, 0, 0.5);
                border-bottom: 1px solid $main-color;
                width: 100%;
                height: 52px;
                transition: 0.7s;

                &.active {
                    border: 1px solid $main-color;
                    border-bottom: none;
                    color: #000000;
                    transition: 0.7s;
                }
            }
        }

        &-body {
            display: block;
            &__block {
                display: none;
                margin-top: 80px;
                right: 0;
                width: 1260px;
                height: 690px;
                background: rgba(191, 219, 247, 0.2);
                transition: 0.7s;

                &.active {
                    display: flex;
                    transition: 0.7s;
                }

                .wrapper {
                    margin-left: 0;
                    width: 100%;
                    height: 690px;
                    display: flex;
                
                    &-container {
                        position: relative;
                        width: 540px;
                        height: 100%;
                        overflow: hidden;
                        margin-left: 0;
                
                        &-btnprev {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            z-index: 2;
                            border: none;
                            background: border-box;
                            cursor: pointer;
                        }
                
                        &-btnnext {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            z-index: 2;
                            border: none;
                            background: border-box;
                            cursor: pointer;
                        }
                
                        &-track {
                            position: absolute;
                            display: flex;
                            left: 0;
                
                            &-item {
                                width: 100%;
                
                                &>img {
                                    background: center/cover no-repeat;
                                }
                            }
                        }
                    }

                    &>p {
                        width: 540px;
                        margin: auto;
                        text-align: center;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        letter-spacing: $lc;
                        text-indent: 20px;
                        color: $rgba-c;
                    }
                }

                .wrapper-02 {
                    margin-left: 0;
                    width: 100%;
                    height: 690px;
                    display: flex;
                
                    &-container {
                        position: relative;
                        width: 540px;
                        height: 100%;
                        overflow: hidden;
                        margin-left: 0;
                
                        &-btnprev {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            z-index: 2;
                            border: none;
                            background: border-box;
                            cursor: pointer;
                        }
                
                        &-btnnext {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            z-index: 2;
                            border: none;
                            background: border-box;
                            cursor: pointer;
                        }
                
                        &-track {
                            position: absolute;
                            display: flex;
                            left: 0;
                
                            &-item {
                                width: 100%;
                
                                &>img {
                                    background: center/cover no-repeat;
                                }
                            }
                        }
                    }

                    &>p {
                        width: 540px;
                        margin: auto;
                        text-align: center;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        letter-spacing: $lc;
                        text-indent: 20px;
                        color: $rgba-c;
                    }
                }

                .wrapper-03 {
                    margin-left: 0;
                    width: 100%;
                    height: 690px;
                    display: flex;
                
                    &-container {
                        position: relative;
                        width: 540px;
                        height: 100%;
                        overflow: hidden;
                        margin-left: 0;
                
                        &-btnprev {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            z-index: 2;
                            border: none;
                            background: border-box;
                            cursor: pointer;
                        }
                
                        &-btnnext {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            z-index: 2;
                            border: none;
                            background: border-box;
                            cursor: pointer;
                        }
                
                        &-track {
                            position: absolute;
                            display: flex;
                            left: 0;
                
                            &-item {
                                width: 100%;
                
                                &>img {
                                    background: center/cover no-repeat;
                                }
                            }
                        }
                    }

                    &>p {
                        width: 540px;
                        margin: auto;
                        text-align: center;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        letter-spacing: $lc;
                        text-indent: 20px;
                        color: $rgba-c;
                    }
                }

                .wrapper-04 {
                    margin-left: 0;
                    width: 100%;
                    height: 690px;
                    display: flex;
                
                    &-container {
                        position: relative;
                        width: 540px;
                        height: 100%;
                        overflow: hidden;
                        margin-left: 0;
                
                        &-btnprev {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            z-index: 2;
                            border: none;
                            background: border-box;
                            cursor: pointer;
                        }
                
                        &-btnnext {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            z-index: 2;
                            border: none;
                            background: border-box;
                            cursor: pointer;
                        }
                
                        &-track {
                            position: absolute;
                            display: flex;
                            left: 0;
                
                            &-item {
                                width: 100%;
                
                                &>img {
                                    background: center/cover no-repeat;
                                }
                            }
                        }
                    }

                    &>p {
                        width: 540px;
                        margin: auto;
                        text-align: center;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        letter-spacing: $lc;
                        text-indent: 20px;
                        color: $rgba-c;
                    }
                }
            } 
        }
    }
}

@media (min-width: 320px) {
    .fourth-block {
        width: 100%;
        margin: 10em auto auto auto;

        &__lines {
            width: 100%;
        }

        &__tabs {
            width: 100%;
            max-width: 350px;
            margin: auto;

            &-items {
                flex-wrap: wrap;
                &__item {
                    font-size: 13px;
                }
            }

            &-body {
                margin-top: 50px;
                width: 100%;

                &__block {
                    display: none;
                    margin: auto;
                    width: 100%;
                    height: unset;
                    flex-direction: column;

                    &.active {
                        display: flex;
                        width: 92%;
                    }
                    
                    .wrapper {
                        margin-left: 0;
                        width: 100%;
                        height: 84em;
                        display: flex;
                        flex-direction: column;
                    
                        &-container {
                            width: 100%;
                    
                            &-track {
                                &-item {                    
                                    &>img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
    
                        &>p {
                            width: 100%;
                            margin: auto;
                        }
                    }

                    @media (min-width: 403px) {
                        height: 77em;
                    }

                    .wrapper-02 {
                        margin-left: 0;
                        width: 100%;
                        height: 52em;
                        display: flex;
                        flex-direction: column;
                    
                        &-container {
                            width: 100%;
                    
                            &-track {
                                &-item {                    
                                    &>img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
    
                        &>p {
                            width: 100%;
                            margin: auto;
                        }
                    }

                    .wrapper-03 {
                        margin-left: 0;
                        width: 100%;
                        height: 46em;
                        display: flex;
                        flex-direction: column;
                    
                        &-container {
                            width: 100%;
                    
                            &-track {
                                &-item {                    
                                    &>img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
    
                        &>p {
                            width: 100%;
                            margin: auto;
                        }
                    }

                    .wrapper-04 {
                        margin-left: 0;
                        width: 100%;
                        height: 63em;
                        display: flex;
                        flex-direction: column;
                    
                        &-container {
                            width: 100%;
                    
                            &-track {
                                &-item {                    
                                    &>img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
    
                        &>p {
                            width: 100%;
                            margin: auto;
                        }
                    }
                }

                &__block:nth-child(1n+2) {
                    height: unset;
                }

                &__block:last-child {
                    height: unset;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .fourth-block {
        max-width: 700px;

        &__tabs {
            max-width: 100%;

            &-items {
                flex-wrap: unset;

                &__item {
                    font-size: 14px;
                }
            }
            
            &-body {

                &__block {
                    .wrapper {
                        height: 88em;

                        &>p {
                            font-size: 19px;
                            margin-top: 2em;
                        }
                    }

                    .wrapper-02 {
                        height: 66em;
                    }

                    .wrapper-03 {
                        height: 63em;
                    }

                    .wrapper-04 {
                        height: 70em;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .fourth-block {
        margin: 140px auto auto;
        max-width: 1024px;
    
        &__title {
            font-family: $ff;
            font-size: 48px;
            line-height: 130%;
            text-align: center;
            letter-spacing: $lc;
            color: $rgba-c;
        }
    
        &__lines {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px auto;
            width: 412px;
    
            &>hr:first-child {
                width: 100%;
                height: 0;
                border: 1px solid $main-color;
            }
    
            &>hr {
                margin-top: 10px;
                width: 220px;
                border: 1px solid $main-color;
            }
        }
    
        &__tabs {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 1110px;
    
            &-items {
                display: flex;
                width: 100%;
                justify-content: space-between;
    
                &__item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $ff;
                    text-align: center;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 130%;
                    letter-spacing: $lc;
                    color: rgba(0, 0, 0, 0.5);
                    border-bottom: 1px solid $main-color;
                    width: 100%;
                    height: 52px;
                    transition: 0.7s;
    
                    &.active {
                        border: 1px solid $main-color;
                        border-bottom: none;
                        color: #000000;
                    }
                }
            }
    
            &-body {
                display: block;
                margin-top: unset;
                &__block {
                    margin-top: 80px;
                    right: 0;
                    width: 100%;
                    height: 34em;
                    background: rgba(191, 219, 247, 0.2);

                    .wrapper {
                        width: 100%;
                        flex-direction: row;

                        &-container {
                            width: 430px;
                        }

                        &>p {
                            width: 451px;
                            font-size: 15px;
                        }
                    }

                    .wrapper-02 {
                        width: 100%;
                        flex-direction: row;

                        &-container {
                            width: 430px;
                        }

                        &>p {
                            width: 500px;
                            font-size: 16px;
                        }
                    }

                    .wrapper-03 {
                        width: 100%;
                        flex-direction: row;

                        &-container {
                            width: 430px;
                        }

                        &>p {
                            width: 500px;
                            font-size: 16px;
                        }
                    }

                    .wrapper-04 {
                        width: 100%;
                        flex-direction: row;

                        &-container {
                            width: 430px;
                        }

                        &>p {
                            width: 500px;
                            font-size: 16px;
                        }
                    }

                    &.active {
                        display: flex;
                        flex-direction: column;
                        width: 882px;

                        &>p {
                            margin-top: 4em;
                            margin-left: 0;
                            text-align: center;
                            font-size: 16px;
                            line-height: 150%;
                            text-align: center;
                            letter-spacing: $lc;
                            text-indent: 20px;
                            color: $rgba-c;
                            width: 539px;
                        }
                    }
                }

                &__block:nth-child(1n+2) {
                    height: 32em;
                }

                &__block:last-child {
                    height: 32em;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .fourth-block {
        &__tabs {
            &-body {
                &__block {
                    &.active {
                        width: 1055px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .fourth-block {
        &__tabs {
            &-body {
                &__block {
                    display: none;
                    &.active {
                        display: flex;
                        width: 1223px;
                        height: 690px;

                        &>p {
                            margin-left: 35px;
                            margin-top: 2em;
                        }
                    }

                    .wrapper {
                        &-container {
                            width: 540px;
                        }
                    }

                    .wrapper-02 {
                        &-container {
                            width: 540px;
                        }
                    }

                    .wrapper-03 {
                        &-container {
                            width: 540px;
                        }
                    }

                    .wrapper-04 {
                        &-container {
                            width: 540px;
                        }
                    }
                }
            }
        }
    }
}