.hotel {
    margin: 130px auto auto;
    width: 100%;

    &-title {
        font-family: $ff;
        font-size: 48px;
        line-height: 130%;
        text-align: center;
        letter-spacing: $lc;
        color: $rgba-c;
    }

    &-lines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px auto;
        width: 412px;

        &>hr:first-child {
            width: 100%;
            height: 0;
            border: 1px solid $main-color;
        }

        &>hr {
            margin-top: 10px;
            width: 220px;
            border: 1px solid $main-color;
        }
    }

    &-bg {
        margin-top: 30px;
        &>img {
            width: 100%;
        }
    }

    &-btn {
        display: block;
        margin: -4px auto auto;
        width: 287px;
        height: 36px;
        background: $main-color;
        border: none;
        font-size: 20px;
        font-weight: 200;
        line-height: 130%;
        text-align: center;
        letter-spacing: $lc;
        color: #FFFFFF;
    }

    &-block {
        margin-top: 44px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__img {
            position: relative;
            width: 540px;
            height: 455px;

            &>div {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            &-item {
                position: absolute;
                inset: 0;
                opacity: 0;
                transition: 0.9s;

                &>img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &-item[data-active] {
                opacity: 1;
                z-index: 1;
                transition-delay: 0ms;
            }

            &-btn {
                position: absolute;
                z-index: 2;
                background: none;
                border: none;
                margin-top: 40%;
                transform: translateY(-50%);
                cursor: pointer;

                &.prev {
                    left: 0;
                }
                &.next {
                    right: 0;
                }
            }
        }

        &__text {
            text-align: center;
            margin-top: 100px;
            width: 530px;
            font-weight: 200;
            font-size: 16px;
            line-height: 130%;
            text-align: center;
            letter-spacing: $lc;
            text-indent: 20px;
            color: $rgba-c;
        }
    }

    &-gift {
        margin: 140px auto auto;
        width: 100%;
        border-top: 2px solid $main-color;

        &__text {
            font-family: $ff;
            font-weight: 200;
            font-size: 24px;
            line-height: 150%;
            text-align: justify;
            letter-spacing: $lc;
            color: rgba(0, 0, 0, 0.7);

            &>b {
                font-family: $ff;
                font-weight: 400;
                font-size: 24px;
                line-height: 150%;
                text-align: justify;
                letter-spacing: $lc;
                color: #000000;
            }
        }

        &__vectors {
            margin: 20.43px auto auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 467.73px;
        }
    }
}

@media (min-width: 320px) {
    .hotel {
        margin: 27vh auto auto auto;

        &-title {
            font-size: 25px;
        }

        &-lines {
            width: 100%;
        }

        &-bg {
            &>img {
                width: 100%;
            }
        }

        &-block {
            flex-direction: column;

            &__img {
                width: 100%;
                height: 330px;

                &-item {
                    width: 100%;
                }

                &>div {
                    width: 340vh;
                }
            }

            &__text {
                width: 100%;
                margin-top: 0;
            }
        }

        &-gift {
            &__text {
                text-align: center;
            }
            &__vectors {
                width: 100%;
            }
        }
    }
}

@media (min-width: 414px) {
    .hotel {
        &-block {
            &__text {
                margin-top: 2em;
            }
        }
    }
}

@media (min-width: 425px) {
    .hotel {
        &-block {
            &__text {
                margin-top: 5em;
            }
        }
    }
}

@media (min-width: 500px) {
    .hotel {
        &-block {
            &__text {
                margin-top: 8em;
            }
        }
    }
}

@media (min-width: 554px) {
    .hotel {
        &-block {
            &__text {
                margin-top: 10em;
            }
        }
    }
}

@media (min-width: 592px) {
    .hotel {
        &-block {
            &__text {
                margin-top: 13em;
            }
        }
    }
}

@media (min-width: 631px) {
    .hotel {
        margin: 15em auto auto auto;
        &-block {
            &__text {
                margin-top: 16em;
            }
        }
    }
}

@media (min-width: 670px) {
    .hotel {
        margin: 18em auto auto auto;
    }
}

@media (min-width: 700px) {
    .hotel {
        margin: 20em auto auto auto;
        &-block {
            &__text {
                margin-top: 20em;
            }
        }
    }
}

@media (min-width: 768px) {
    .hotel {
        margin: 20em auto auto auto;

        &-block {
            &__img {
                &-item {
                    width: 100%;
                    height: unset;
                }
            }

            &__text {
                margin-top: 20em;
            }

            @media (min-width: 790px) {
                &__text {
                    margin-top: 27em;
                }
            }

            @media (min-width: 800px) {
                &__text {
                    margin-top: 29em;
                }
            }

            @media (min-width: 878px) {
                &__text {
                    margin-top: 30em;
                }
            }
        }

        &-gift {
            &__text {
                text-align: justify;
            }
        }
    }
}

@media (min-width: 1024px) {
    .hotel {
        margin: 130px auto auto;
        width: 100%;
    
        &-title {
            font-family: $ff;
            font-size: 48px;
            line-height: 130%;
            text-align: center;
            letter-spacing: $lc;
            color: $rgba-c;
        }
    
        &-lines {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px auto;
            width: 412px;
    
            &>hr:first-child {
                width: 100%;
                height: 0;
                border: 1px solid $main-color;
            }
    
            &>hr {
                margin-top: 10px;
                width: 220px;
                border: 1px solid $main-color;
            }
        }
    
        &-bg {
            margin-top: 30px;
        }
    
        &-btn {
            display: block;
            margin: -4px auto auto;
            width: 287px;
            height: 36px;
            background: $main-color;
            border: none;
            font-size: 20px;
            font-weight: 200;
            line-height: 130%;
            text-align: center;
            letter-spacing: $lc;
            color: #FFFFFF;
        }
    
        &-block {
            margin-top: 44px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
    
            &__img {
                position: relative;
                width: 540px;
                height: 455px;
    
                &>div {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
    
                &-item {
                    position: absolute;
                    inset: 0;
                    opacity: 0;
                    transition: 0.9s;
                    width: 55vh;
    
                    &>img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
    
                &-item[data-active] {
                    opacity: 1;
                    z-index: 1;
                    transition-delay: 0ms;
                }
    
                &-btn {
                    position: absolute;
                    z-index: 2;
                    background: none;
                    border: none;
                    margin-top: 40%;
                    transform: translateY(-50%);
                    cursor: pointer;
    
                    &.prev {
                        left: 0;
                    }
                    &.next {
                        right: 0;
                    }
                }
            }
    
            &__text {
                text-align: center;
                margin-top: 100px;
                width: 530px;
                font-weight: 200;
                font-size: 16px;
                line-height: 130%;
                text-align: center;
                letter-spacing: $lc;
                text-indent: 20px;
                color: $rgba-c;
            }
        }
    
        &-gift {
            margin: 140px auto auto;
            width: 100%;
            border-top: 2px solid $main-color;
    
            &__text {
                font-family: $ff;
                font-weight: 200;
                font-size: 24px;
                line-height: 150%;
                text-align: justify;
                letter-spacing: $lc;
                color: rgba(0, 0, 0, 0.7);
    
                &>b {
                    font-family: $ff;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 150%;
                    text-align: justify;
                    letter-spacing: $lc;
                    color: #000000;
                }
            }
    
            &__vectors {
                margin: 20.43px auto auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 467.73px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .hotel {
        &-block {
            &__img {
                &-item {
                    width: 540px;
                }
            }
        }
    }
}