.song-block {
    margin: 195px auto auto;

    &__title {
        font-family: $ff;
        font-size: 48px;
        line-height: 130%;
        text-align: center;
        letter-spacing: $lc;
        color: $rgba-c;
    }

    &__lines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px auto;
        width: 412px;

        &>hr:first-child {
            width: 100%;
            height: 0;
            border: 1px solid $main-color;
        }

        &>hr {
            margin-top: 10px;
            width: 220px;
            border: 1px solid $main-color;
        }
    }

    &__first {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-text {
            width: 504px;
            text-align: center;

            &__paragraph {
                margin-top: 100px;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                letter-spacing: $lc;
                text-indent: 20px;
                color: $rgba-c;
            }

            &__vectors {
                margin: 62px auto auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 467.73px;
            }
        }
    }

    &__second {
        margin-top: 140px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 504px;
            text-align: center;

            &__paragraph {
                margin-top: 100px;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                letter-spacing: $lc;
                text-indent: 20px;
                color: $rgba-c;
            }

            &>svg {
                margin: 73px auto auto;
            }

            &__vectors {
                margin: 59px auto auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 467.73px;
            }
        }
    }
}

@media (min-width: 320px) {
    .song-block {
        margin: 22em auto auto auto;
        width: 100%;

        &__title {
            font-size: 34px;
        }

        &__lines {
            width: 100%;
        }

        &__first {
            flex-direction: column;

            &-img {
                &>img {
                    width: 100%;
                }
            }

            &-text {
                width: 100%;

                &__vectors {
                    width: 100%;
                }
            }
        }

        &__second {
            flex-direction: column;
            margin-top: 0;

            &-text {
                width: 100%;

                &__vectors {
                    width: 100%;
                }
            }

            &-img {
                margin-top: 5vh;

                &>img {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 400px) {
    .song-block {
        margin: 25em auto auto auto;
    }
}

@media (min-width: 455px) {
    .song-block {
        margin: 27em auto auto auto;
    }
}

@media (min-width: 501px) {
    .song-block {
        margin: 30em auto auto auto;
    }
}

@media (min-width: 524px) {
    .song-block {
        margin: 32em auto auto auto;
    }
}

@media (min-width: 590px) {
    .song-block {
        margin: 34em auto auto auto;
    }
}

@media (min-width: 644px) {
    .song-block {
        margin: 36em auto auto auto;
    }
}

@media (min-width: 650px) {
    .song-block {
        margin: 39em auto auto auto;
    }
}

@media (min-width: 725px) {
    .song-block {
        margin: 42em auto auto auto;
    }
}

@media (min-width: 768px) {
    .song-block {
        margin: 50em auto auto auto;
        width: 700px;
    }
}

@media (min-width: 920px) {
    .song-block {
        margin: 55em auto auto auto;
    }
}


@media (min-width: 1024px) {
    .song-block {
        margin: 195px auto auto;
        width: 1024px;
    
        &__title {
            font-family: $ff;
            font-size: 48px;
            line-height: 130%;
            text-align: center;
            letter-spacing: $lc;
            color: $rgba-c;
        }
    
        &__lines {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px auto;
            width: 412px;
    
            &>hr:first-child {
                width: 100%;
                height: 0;
                border: 1px solid $main-color;
            }
    
            &>hr {
                margin-top: 10px;
                width: 220px;
                border: 1px solid $main-color;
            }
        }
    
        &__first {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
    
            &-text {
                width: 504px;
                text-align: center;
    
                &__paragraph {
                    margin-top: 100px;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    letter-spacing: $lc;
                    text-indent: 20px;
                    color: $rgba-c;
                }
    
                &__vectors {
                    margin: 7em auto auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 467.73px;
                }
            }
        }
    
        &__second {
            margin-top: 140px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
    
            &-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 504px;
                text-align: center;
    
                &__paragraph {
                    margin-top: 100px;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    letter-spacing: $lc;
                    text-indent: 20px;
                    color: $rgba-c;
                }
    
                &>svg {
                    margin: 73px auto auto;
                }
    
                &__vectors {
                    margin: 59px auto auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 467.73px;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .song-block {
        &__first {
            width: 1110px;
        }
        &__second {
            width: 1110px;
        }
    }
}
