.wedding {
    margin: 140px auto auto;
    width: 100%;

    &-title {
        font-family: $ff;
        font-weight: 400;
        font-size: 48px;
        line-height: 150%;
        text-align: center;
        letter-spacing: $lc;
        color: $rgba-c;
    }

    &-img {
        margin: 40px auto auto;
        width: 100%;

        &>img {
            width: 100%;
        }
    }

    &-line {
        width: 100%;
        margin: 20px auto auto;
        color: $main-color;
    }

    &-text {
        display: block;
        font-family: $ff;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: $lc;
        color: rgba(0, 0, 0, 0.7);
    }
}

@media (min-width: 320px) {
    .wedding {
        width: 100%;

        &-img {
            width: 100%;
            &>img {
                width: 100%;
            }
        }

        &-line {
            width: 100%;
        }
    }
}

@media (min-width: 1440px) {
    .wedding {
        &-img {
            width: 730px;
        }

        &-line {
            width: 658px;
        }
    }
}